.container{
    max-width: 540px;
}
#container {
    flex-direction: column;
}
/* Navbar */
.navbar-items {
    padding: 0.25rem 0px;
}
.menu-items a{
    display: none;
}

/* Home */
.app-row {
    flex-direction: column;
}
.app-collum {
    width: 100%;
}

/* News */
.news-post {
    width: 251px;
    margin-bottom: 17px;
    height: 144px;
}
/* Aside */
.sidebar-container {
width: 100%;
}
.games-sidebar{
    width: 170px;
}
/* Footer */