.container{
    max-width: 960px;
}

/* Navbar */
.menu li {
    margin: 0px 0px;
}
/* Home */
        /* News Section */
        .news-post{
            line-height: .9;
            width: 197px;
            height: 112px;
        }
/* Aside */
        .sidebar-container {
            width: 286px;
        }
        .games-sidebar {
            width: 80px;
        }
/* Footer */