.container{
    max-width: 575px;
    padding: 0px;
    margin: 10px;
}
#container {
    flex-direction: column;
}
/* Navbar */
#title{
    font-size: 1.5rem;
    margin-right: 20px;
}
.navbar-items {
    padding: 0.25rem 0px;
}
.menu-items a{
    display: none;
}
.menu ul{
display: none;
}

/* Home */
.app-row {
    flex-direction: column;
}
.app-collum {
    width: 100%;
}
@media screen and (max-width: 265px) {
    #search img{
        display: none;
    }
.app-collum {
    flex-direction: column;
}
.app-icon img{
    display: block;
    margin: auto;
}
.apps-about {
    margin-left: 0%;
    margin-top: 4%;
}
.app-title h1{
    text-align: center;
}
}

/* News */
.news-post {
    width: 100%;
    margin-bottom: 15px;
    height: 185px;
}
@media (min-width: 410px) and (max-width: 575px) {
    .news-post {
        height: 265px;
    } 
}

/* Aside */
.sidebar-container {
width: 100%;
}
.games-sidebar{
width: 170px;
}
@media screen and (max-width: 394px) {
    .sidebar-responsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .games-sidebar {
        width: 100%;
        overflow: hidden;
    }
}

/* Footer */
#footer-menu-container {
    flex-direction: column;
}
.footer-menu {
    width: 100%;
}